//Why
.title {
    padding: 0 2.1875rem;
    padding-top: 4.0625rem;
    text-align: center;
    background-color: $lightGrayishBlue;
    h1 {
        font-size: 1.6875rem;
        font-weight: 500;
        color: $darkBlue;
    }

    p{
        padding-top: 1.375rem;
        line-height: 1.5;
            opacity: 60%;
    }
}


//Grid
.profile-grid {
    display: grid;
    background-color: $lightGrayishBlue;
    //Make grid column 4 ,1fr for web 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(0, 1fr);
    padding-bottom: 4.0625rem;
    }

.cards {

    margin-top: 3.5625rem;
    text-align: center;
    gap: 27px;
    padding: 0 2.1875rem;

    .profile {
        border-radius: 50%;
        width: 66px;
        height: 66px;
        background-color: $limeGreen;
    }

    p:last-child{
        opacity: 60%;
        line-height: 1.5;
        
    }
}

@media (min-width: 64em){

   .article-text {
       height: 400px;
   }
    .profile-grid {
        width: 100%;
        gap: 25px;
        padding: 0 10.3125rem;
        padding-bottom: 6.8125rem;
        grid-template-columns: repeat(4, 1fr);
        .card {
            max-width: 254px;
            
        }
    }
    .cards , .title {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: unset;
        padding: 0;
    }
    .title {
        padding-right:10.3125rem;
        padding-left:10.3125rem;
        padding-top: 6.8125rem;
        
        
        p {
            max-width: 617px;
        }
    }
}
