html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}

body {
    
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    line-height: 1;
}

//Default the anchor tag
a {
    text-decoration: none;
    color: $grayishBlue;
}

//Height for nav

.nav-height {
    
    //Desktop
    height: 80px;
}

//Padding for right-left nav

.nav-padding {
    padding: 0 1.375rem;
}

//Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    
    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }
}

//max-width
.pd-gl {
    
}


//title
.title {
    padding: 0 2.1875rem;
    padding-top: 4.0625rem;
    text-align: center;
    background-color: $lightGrayishBlue;
    h1 {
        font-size: 1.6875rem;
        font-weight: 500;
        color: $darkBlue;
    }

    p{
        padding-top: 1.375rem;
        line-height: 1.5;
            opacity: 60%;
    }
}