html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #9698a6;
}

.nav-height {
  height: 80px;
}

.nav-padding {
  padding: 0 1.375rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger-menu {
  width: 22px;
  height: 10px;
}

.hamburger-menu .line {
  width: 100%;
  height: 1px;
  background: #333;
}

nav {
  position: relative;
  z-index: 99999;
  background-color: #fff;
}

nav .navs {
  height: 100%;
  gap: 2.0625rem;
}

button {
  border: 0;
  width: 163px;
  height: 44px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

button:hover {
  opacity: 80%;
}

@media (min-width: 64em) {
  .nav-padding {
    padding: 0 10.3125rem;
  }
}

@media (max-width: 63.9375em) {
  .nav-height {
    height: 59px;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hero {
  padding-bottom: 4.0625rem;
}

.hero__image {
  position: relative;
  bottom: 132px;
  z-index: -1;
  margin-bottom: -132px;
  grid-area: image;
}

.hero__image img {
  width: 100%;
  max-width: 370px;
}

.hero__text {
  text-align: center;
  gap: 22px;
  padding: 2.1875rem 2.1875rem 0 2.1875rem;
  grid-area: text;
}

.hero__text h1 {
  font-weight: 500;
  font-size: 2.4rem;
  max-width: 300px;
  color: #2d314d;
}

.hero__text p {
  line-height: 1.5;
  opacity: 60%;
}

@media (min-width: 64em) {
  section .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text image";
  }
  section .hero__image {
    position: relative;
    min-height: 658px;
    z-index: 999;
  }
  section .hero__image img {
    position: absolute;
    top: 12px;
    width: 100%;
    max-width: 700px;
  }
  section .hero__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 0 10.3125rem;
  }
  section .hero__text h1 {
    width: 500px;
  }
}

.title {
  padding: 0 2.1875rem;
  padding-top: 4.0625rem;
  text-align: center;
  background-color: #f3f4f6;
}

.title h1 {
  font-size: 1.6875rem;
  font-weight: 500;
  color: #2d314d;
}

.title p {
  padding-top: 1.375rem;
  line-height: 1.5;
  opacity: 60%;
}

.profile-grid {
  display: -ms-grid;
  display: grid;
  background-color: #f3f4f6;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[0];
      grid-template-rows: repeat(0, 1fr);
  padding-bottom: 4.0625rem;
}

.cards {
  margin-top: 3.5625rem;
  text-align: center;
  gap: 27px;
  padding: 0 2.1875rem;
}

.cards .profile {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-color: #31d35c;
}

.cards p:last-child {
  opacity: 60%;
  line-height: 1.5;
}

@media (min-width: 64em) {
  .profile-grid {
    width: 100%;
    gap: 25px;
    padding: 0 10.3125rem;
    padding-bottom: 6.8125rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .profile-grid .card {
    max-width: 254px;
  }
  .cards, .title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: unset;
    padding: 0;
  }
  .title {
    padding-right: 10.3125rem;
    padding-left: 10.3125rem;
    padding-top: 6.8125rem;
  }
  .title p {
    max-width: 617px;
  }
}

.articles {
  background-color: #fafafa;
  padding: 0 2.1875rem;
  padding-top: 4.0625rem;
  padding-bottom: 5.0625rem;
}

.articles .art-title {
  font-size: 1.4375rem;
  padding-bottom: 2.25rem;
  font-weight: 400;
  color: #2d314d;
}

.articles-image {
  width: 100%;
}

.articles .by {
  font-size: 1rem;
  padding-top: 0.9rem;
}

.articles h1 {
  font-size: 1.5rem;
}

.articles p {
  opacity: 60%;
}

.articles .article-text {
  line-height: 1.2;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  padding: 0 1.875rem;
}

.articles .card-title {
  font-weight: 300;
}

.articles .article-card-holder {
  display: -ms-grid;
  display: grid;
  gap: 22px;
}

.articles .card-text {
  padding-bottom: 2.625rem;
}

@media (min-width: 64em) {
  .article-card-holder {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .articles {
    padding: 0 10.3125rem;
    padding-top: 6.125rem;
    padding-bottom: 5.0625rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .art-title {
    font-size: 2.25rem !important;
  }
}

footer {
  padding: 2.3125rem 5.4375rem;
  background-color: #2d314d;
  color: white;
}

footer .logo-media {
  gap: 30px;
  padding-bottom: 1.875rem;
}

footer .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

footer .about-us li {
  list-style-type: none;
  gap: 30px;
  opacity: 60%;
  cursor: pointer;
  padding-top: 1.375rem;
}

footer .social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -1.375rem;
  gap: 15px;
}

footer .copy-right {
  padding-top: 1.875rem;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .copy-right p {
  opacity: 60%;
  font-weight: 300;
  font-size: 0.8rem;
}

@media (min-width: 64em) {
  footer {
    display: -ms-grid !important;
    display: grid !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: (0fr)[2];
        grid-template-columns: repeat(2, 0fr);
    gap: 50px;
    padding: 2.3125rem 10.3125rem;
  }
  footer .about-us {
    text-align: left;
  }
  footer .about-us li {
    padding: 0;
  }
  footer .copy-right {
    white-space: nowrap;
  }
  footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 128px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .social-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0rem;
    padding-bottom: 0;
    gap: 15px;
  }
  footer .logo-media {
    gap: 40px;
    margin-bottom: 0rem;
    padding-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */