html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #9698a6;
}

.nav-height {
  height: 80px;
}

.nav-padding {
  padding: 0 1.375rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pd-gl {
  padding: 0 2.1875rem;
}

.hamburger-menu {
  width: 22px;
  height: 10px;
}

.hamburger-menu .line {
  width: 100%;
  height: 1px;
  background: #333;
}

nav {
  background-color: #fff;
}

nav .navs {
  height: 100%;
  gap: 2.0625rem;
}

button {
  border: 0;
  width: 163px;
  height: 44px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

button:hover {
  opacity: 80%;
}

@media (min-width: 64em) {
  .nav-padding {
    padding: 0 10.3125rem;
  }
}

@media (max-width: 63.9375em) {
  .nav-height {
    height: 59px;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hero__image {
  position: relative;
  bottom: 132px;
  z-index: -1;
  margin-bottom: -132px;
  grid-area: image;
}

.hero__image img {
  max-width: 370px;
}

.hero__text {
  text-align: center;
  gap: 22px;
  padding: 2.1875rem 2.1875rem 0 2.1875rem;
  grid-area: text;
}

.hero__text h1 {
  font-weight: 500;
  font-size: 2.4rem;
  max-width: 300px;
  color: #2d314d;
}

.hero__text p {
  line-height: 1.5;
  opacity: 60%;
}

@media (min-width: 64em) {
  section .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text image";
    background-color: red;
  }
  section .hero__image {
    position: relative;
    min-height: 658px;
  }
  section .hero__image img {
    position: absolute;
    top: 12px;
    width: 100%;
    max-width: 700px;
  }
  section .hero__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 0 10.3125rem;
  }
  section .hero__text h1 {
    width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */